In [48]:
import pandas as pd
import matplotlib
from pandas_datareader import data as pdr
import yfinance as yf
from datetime import datetime

In [49]:
df=pd.read_csv('Data/Company_data.csv')

In [50]:
df.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             493 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB

In [52]:
start_date = datetime(2020,1,1)
end_date = datetime(2022,12,31)

In [53]:
yf.pdr_override()

In [54]:
y_symbols = df.Symbol.tolist()

In [120]:
data = pdr.get_data_yahoo(y_symbols, start=start_date, end=end_date)

[*********************100%***********************]  503 of 503 completed

In [155]:
data['Open'].to_csv('Data/Stock_History/opening.csv', index=True)
data['High'].to_csv('Data/Stock_History/high.csv', index=True)
data['Low'].to_csv('Data/Stock_History/low.csv', index=True)
data['Close'].to_csv('Data/Stock_History/closing.csv', index=True)
data['Adj Close'].to_csv('Data/Stock_History/adj.csv', index=True)
data['Volume'].to_csv('Data/Stock_History/volume.csv', index=True)

In [156]:
data.to_csv('Data/Stock_History.csv')